# Define CouchDB document names here.
# Sections represent database location. Document names are defined per section.
# If you need to post data to multiple databases, just define them in sections
# you need them in.
#
# File syntax will change in future versions.

; Example:
;
; [http://username:password@localhost:5984/haklab_status] # Database
; Temperature
; Humidity
;
; [http://localhost:5984/haklab_status2] # Another database
; Humidity # Same data goes here
