# This is the main configuration file.
#
# Baudrate is the serial port data rate in bits per second. Set of allowed
# baudrate values is the intersection of sets of termios and recommended
# arduino rates. The values are 300, 600, 1200, 2400, 4800, 9600, 19200, 38400,
# 57600 and 115200.

# Default value for port is /dev/ttyACM0 and for baudrate 57600.
;port = /dev/ttyACM0
;baudrate = 57600
;controller = http://localhost:5984/haklab_status/_changes
